/* =========================================================================
Elements
=========================================================================
   ================================================== */
/* =========================================================================
LIST ELEMENTS
=========================================================================
   ================================================== */
.list-style-1 {
  display: block;
  list-style-position: inside;
  margin: 0 0 30px;
}
.list-style-1 li {
  border-bottom: 1px dotted #E9E9EA;
  float: none;
  list-style-type: decimal;
  margin: 0 !important;
  padding: 4px 0 4px 4px;
}
.list-style-1 li a {
  color: #777777;
}
.list-style-1 li a:hover {
  color: #2f96b4;
}
.list-style-1 li a img {
  padding-right: 12px;
  width: auto !important;
}
.list-style-2 {
  display: block;
  margin: 0 0 30px;
}
.list-style-2 li {
  border-bottom: 1px dotted #E9E9EA;
  display: block;
  float: none;
  margin: 0 !important;
  padding: 4px 0 4px 24px;
}
.list-style-2 li a {
  color: #777777;
}
.list-style-2 li a:hover {
  color: #2f96b4;
}
.list-style-2 li a img {
  padding-right: 12px;
  width: auto !important;
}
.arrow-list,
.arrow-list-2,
.circle-list,
.check-list,
.check-list-2,
.star-list,
.plus-list,
.dash-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 24px;
}
.arrow-list {
  background: url("../img/icons/list-arrow.png") no-repeat scroll 5px 9px transparent;
}
.arrow-list-2 {
  background: url("../img/icons/list-arrow-2.png") no-repeat 2px 8px;
}
.circle-list {
  background: url("../img/icons/list-circle.png") no-repeat 4px 9px;
}
.check-list {
  background: url("../img/icons/list-check.png") no-repeat 3px 7px;
}
.check-list-2 {
  background: url("../img/icons/list-check-2.png") no-repeat 0 7px;
}
.star-list {
  background: url("../img/icons/list-star.png") no-repeat 0 5px;
}
.plus-list {
  background: url("../img/icons/list-plus.png") no-repeat 3px 7px;
}
.dash-list {
  background: url("../img/icons/list-dash.png") no-repeat 3px 12px;
}
/* =========================================================================
ALER BOXES
=========================================================================
   ================================================== */
.message-box-error,
.message-box-success,
.message-box-info,
.message-box-notice {
  display: block;
  padding: 10px 20px 10px 44px;
}
.message-box-error strong,
.message-box-success strong,
.message-box-info strong,
.message-box-notice strong {
  float: left;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 1.8em;
  text-shadow: 0 0;
  text-transform: capitalize;
}
.message-box-error {
  background: #f9e5e6 url("../img/icons/icon-box-error.png") no-repeat 10px 9px;
  border: 1px solid #f7c7c9;
  border-left-width: 4px;
  color: #b3696c;
}
.message-box-success {
  background: #e3ebc6 url("../img/icons/icon-box-success.png") no-repeat 12px 8px;
  border: 1px solid #c2d288;
  border-left-width: 4px;
  color: #8fa442;
}
.message-box-info {
  background: #d8ecf5 url("../img/icons/icon-box-info.png") no-repeat 10px 8px;
  border: 1px solid #9ac9df;
  border-left-width: 4px;
  color: #528da9;
}
.message-box-notice {
  background: #fcf7d9 url("../img/icons/icon-box-notice.png") no-repeat 10px 9px;
  border: 1px solid #f5dc7d;
  border-left-width: 4px;
  color: #c4a21b;
}
/* =========================================================================
Message Boxes
=========================================================================
   ================================================== */
.message-box {
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  line-height: 1.2em;
  margin: 0 0 20px;
  padding: 10px 20px;
  position: relative;
}
.message-box .closemsg {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 9px;
}
.message-box strong {
  float: left;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  padding: 0 7px 0 0;
  text-shadow: 0 0;
  text-transform: capitalize;
}
.message-box.info {
  background-color: #dff2fa;
  border-color: #85cfec;
  color: #2e7893;
}
.message-box.info .closemsg {
  background-image: url(../img/icons/close-info.png);
}
.message-box.note {
  background-color: #f8f2cb;
  border-color: #edca42;
  color: #8f5c0b;
}
.message-box.note .closemsg {
  background-image: url(../img/icons/close-note.png);
}
.message-box.confirm {
  background-color: #e5f2c0;
  border-color: #aacf49;
  color: #4a630e;
}
.message-box.confirm .closemsg {
  background-image: url(../img/icons/close-confirm.png);
}
.message-box.error {
  background-color: #ffd4d4;
  border-color: #d97676;
  color: #cd0a0a;
}
.message-box.error .closemsg {
  background-image: url(../img/icons/close-error.png);
}
/* =========================================================================
social
=========================================================================
   ================================================== */
ul#social {
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  width: 100%;
}
#social a {
  display: block;
  float: left;
  height: 32px;
  margin: 0 9px 9px 0;
  width: 32px;
}
#social a img {
  border: medium none;
}
/* =========================================================================
blockquotes
=========================================================================
   ================================================== */
blockquote {
  font-family: 'georgia';
  font-size: 14px;
  font-style: italic;
  line-height: 1.8em;
  margin-bottom: 30px;
  padding-left: 40px;
}
blockquote.black {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  background: url("../img/icons/qoute.png") no-repeat scroll 10px 30px #4a5151;
  behavior: url(css/PIE.htc);
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  padding: 30px 30px 10px;
}
blockquote.blue {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  background: url("../img/icons/qoute.png") no-repeat scroll 10px 30px #3d5b99;
  behavior: url(css/PIE.htc);
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  float: right;
  padding: 30px 30px 10px;
}
blockquote.red {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  background: url("../img/icons/qoute.png") no-repeat scroll 10px 30px #d82b31;
  behavior: url(css/PIE.htc);
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  float: right;
  padding: 30px 30px 10px;
}
/* =========================================================================
dropcap
=========================================================================
   ================================================== */
.dropcap {
  float: left;
  font: 30px 'OpenSansBold';
  margin-right: 15px;
}
.dropcap2 {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  background: none repeat scroll 0 0 #222;
  behavior: url(css/PIE.htc);
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #333;
}
.dropcap3 {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  background: none repeat scroll 0 0 #3D5B99;
  behavior: url(css/PIE.htc);
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #333;
}
.dropcap4 {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  background: none repeat scroll 0 0 #D82B31;
  behavior: url(css/PIE.htc);
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #333;
}
.dropcap5 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #eeeeee;
  behavior: url(css/PIE.htc);
  border-radius: 50%;
  color: #333;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #fff;
}
.dropcap6 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #777777;
  behavior: url(css/PIE.htc);
  border-radius: 50%;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #333;
}
.dropcap7 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #3d5b99;
  behavior: url(css/PIE.htc);
  border-radius: 50%;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #333;
}
.dropcap8 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #d82b31;
  behavior: url(css/PIE.htc);
  border-radius: 50%;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #333;
}
.dropcap9 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: none repeat scroll 0 0 #40AED7;
  behavior: url(css/PIE.htc);
  border-radius: 50%;
  color: #fff;
  float: left;
  font: 18px 'OpenSansBold';
  margin-right: 15px;
  padding: 8px;
  text-shadow: 0 1px 1px #333;
}
/* =========================================================================
TOOLTIP TIPSY
=========================================================================
   ================================================== */
.tipsy {
  background-image: url("images/tipsy.gif");
  background-repeat: no-repeat;
  font-size: 11px;
  opacity: 0.8;
  padding: 5px;
}
.tipsy-inner {
  background-color: black;
  color: #FFFFFF;
  max-width: 200px;
  padding: 0 6px;
  text-align: center;
}
.tipsy-inner {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  behavior: url(css/PIE.htc);
  border-radius: 3px 3px 3px 3px;
}
.tipsy-north {
  background-position: center top;
}
.tipsy-south {
  background-position: center bottom;
}
.tipsy-east {
  background-position: right center;
}
.tipsy-west {
  background-position: left center;
}
/* =========================================================================
Site big Alert boxes
=========================================================================
   ================================================== */
.connected {
  background: url("../img/icons/info-1.png") no-repeat scroll 15px 50% #e1f2fc;
  border: 1px solid #68A2CF;
  color: #64757F;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 30px 20px 30px 105px;
}
.failed {
  background: url("../img/icons/error-1.png") no-repeat scroll 15px 50% #feebeb;
  border: 1px solid #7E6C6C;
  color: #697A58;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 30px 20px 30px 105px;
}
.remove {
  background: url("../img/icons/alert-1.png") no-repeat scroll 15px 50% #fef7e0;
  border: 1px solid #E6C555;
  color: #79725B;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 30px 20px 30px 105px;
}
.remove a {
  color: #79725b;
}
.remove a:hover {
  color: #000000;
}
.add {
  background: url("../img/icons/download-1.png") no-repeat scroll 15px 50% #eeffdd;
  border: 1px solid #A3C159;
  color: #697A58;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 30px 20px 30px 105px;
}
.add a {
  color: #697a58;
}
.add a:hover {
  color: #000000;
}
/* =========================================================================
Site Buttons
=========================================================================
   ================================================== */
.button-red,
.button-red {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #d82b31;
}
.button-brown,
.button-brown {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #ad2f0a;
}
.button-red,
.button-red:visited,
.button-brown,
.button-brown:visited,
.button-green,
.button-green:visited,
.button-blue,
.button-blue:visited,
.button-pink,
.button-pink:visited,
.button-white,
.button-white:visited,
.button-black,
.button-black:visited {
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  behavior: url(css/PIE.htc);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', Arial;
  font-size: 14px;
  padding: 5px 14px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.button-red:active,
.button-brown:active,
.button-green:active,
.button-blue:active,
.button-pink:active,
.button-white:active,
.button-black:active {
  background: #000000;
}
.button-red:hover,
.button-brown:hover,
.button-green:hover,
.button-blue:hover,
.button-pink:hover,
.button-white:hover,
.button-black:hover {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  background: url("../img/button-shadow.png") repeat-x scroll 50% -42px #444444;
  behavior: url(css/PIE.htc);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  color: #fff;
  display: inline-block;
  text-shadow: 0 1px 1px #000;
}
.button-green,
.button-green {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #78ac07;
}
.button-blue,
.button-blue {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #3fc0f6;
}
.button-pink,
.button-pink {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #f1039a;
}
.button-white,
.button-white {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #eeeeee;
}
.button-white,
.button-white:visited {
  color: #333;
  text-shadow: 0 1px 1px #eee;
}
.button-black,
.button-black {
  background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #333333;
}
.button-border {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #EEEEEE;
  behavior: url(css/PIE.htc);
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  margin: 0 5px 0 5px;
  padding: 5px 5px 6px 5px;
}
.button-radius-50 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  behavior: url(css/PIE.htc);
  border-radius: 3px;
}
.button-small {
  font-size: 12px;
  margin-bottom: 20px;
  padding: 3px 10px;
  text-transform: lowercase;
}
.button-small:hover {
  background: url("../img/button-shadow.png") repeat-x scroll 50% -82px #333333;
  color: #fff;
  text-shadow: 0 1px #000;
}
/* =========================================================================
Animated Site Buttons
=========================================================================
   ================================================== */
.animated-btn {
  -moz-border-radius: 4px;
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: box-shadow 0.3s ease-in-out;
  background: #a9db80;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#a9db80, 0), color-stop(#96c56f, 1));
  background: -webkit-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: -o-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: linear-gradient(top, #a9db80 0%, #96c56f 100%);
  border: 1px solid #80ab5d;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  clear: both;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9db80', endColorstr='#96c56f', GradientType=0);
  float: left;
  height: 90px;
  margin: 10px 0px;
  overflow: hidden;
  padding-left: 90px;
  padding-right: 105px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}
.animated-btn .animated-btn-slide-text {
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  color: #6d954e;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 36px;
  left: 18px;
  line-height: 36px;
  opacity: 0;
  position: absolute;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
  top: 26px;
  transition: opacity 0.2s ease-in-out;
}
.animated-btn:active {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  background: #80ab5d;
  border-color: #a9db80;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  position: relative;
  top: 1px;
}
.animated-btn:active .animated-btn-icon-right span {
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.animated-btn:hover {
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.animated-btn:hover .animated-btn-slide-text,
.animated-btn:hover .animated-btn-icon-right span {
  opacity: 1;
}
.animated-btn:hover img {
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  -webkit-transform: scale(10);
  opacity: 0;
  transform: scale(10);
}
.animated-btn img {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border: none;
  left: 15px;
  position: absolute;
  top: 13px;
  transition: all 0.3s ease-in-out;
}
.animated-btn-text {
  color: #fff;
  display: block;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 25px;
  line-height: 35px;
  padding-top: 19px;
  text-shadow: 0px -1px 1px #80ab5d;
}
.animated-btn-text small {
  display: block;
  font-size: 11px;
  line-height: 16px;
}
.animated-btn-icon-right {
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  border-left: 1px solid #80ab5d;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
}
.animated-btn-icon-right span {
  -moz-border-radius: 20px;
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  background: #4e5c50 url(../img/icons/arrow_down.png) no-repeat center center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  height: 38px;
  left: 50%;
  margin: -20px 0px 0px -20px;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease-in-out;
  width: 38px;
}
/* =====================================
   ================================================== */
/* ===[ Portfolio ]=== */
/* =====================================
   ================================================== */
.holder {
  margin: 0;
}
.holder .featured-thumbnail {
  margin: 0;
}
.holder .featured-thumbnail .portfolio-overlay img {
  width: 100%;
}
/* =========================================================================
Sitemap
=========================================================================
   ================================================== */
.treeview li {
  margin: 0;
  padding: 3px 0pt 3px 16px;
}
.treeview,
.treeview ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.treeview div.lastCollapsable-hitarea,
.treeview div.lastExpandable-hitarea {
  background-position: 0;
}
.treeview .expandable-hitarea {
  background-position: -80px -3px;
}
.treeview li.lastCollapsable {
  background-position: 0 -111px;
}
.treeview li.lastCollapsable,
.treeview li.lastExpandable {
  background-image: url("../img/icons/treeview-default.gif");
}
.treeview li.lastExpandable {
  background-position: -32px -67px;
}
.treeview li.collapsable,
.treeview li.expandable {
  background-position: 0 -176px;
}
.treeview .placeholder {
  background: url("../img/icons/ajax-loader.gif") 0 0 no-repeat;
  display: block;
  height: 16px;
  width: 16px;
}
.treeview .hitarea {
  background: url("../img/icons/treeview-default.gif") -64px -25px no-repeat;
  cursor: pointer;
  float: left;
  height: 16px;
  margin-left: -16px;
  width: 16px;
}
.treeview li.last {
  background-position: 0 -1766px;
}
.treeview .hover {
  color: red;
  cursor: pointer;
}
.treeview li {
  background: url("../img/icons/treeview-default-line.gif") 0 0 no-repeat;
}
.treeview ul {
  margin-top: 4px;
}
/* fix for IE6  */
* html .hitarea {
  display: inline;
  float: none;
}
#treecontrol {
  display: none;
  margin: 1em 0;
}
#treecontrol a {
  color: #D73604;
  font-size: 11px;
  line-height: 9px;
  padding-right: 10px;
}
.treeview-red li {
  background-image: url("../img/icons/treeview-red-line.gif");
}
.filetree span,
.treeview li a,
.treeview-red li span {
  line-height: 13px;
  padding-left: 3px;
}
.treeview-red .hitarea,
.treeview-red li.lastCollapsable,
.treeview-red li.lastExpandable {
  background-image: url("../img/icons/treeview-red.gif");
}
.treeview-black li {
  background-image: url("../img/icons/treeview-black-line.gif");
}
.treeview-black .hitarea,
.treeview-black li.lastCollapsable,
.treeview-black li.lastExpandable {
  background-image: url("../img/icons/treeview-black.gif");
}
.treeview-black li span,
.treeview-gray li span {
  line-height: 13px;
  padding-left: 3px;
}
.treeview-gray li {
  background-image: url("../img/icons/treeview-gray-line.gif");
}
.treeview-gray .hitarea,
.treeview-gray li.lastCollapsable,
.treeview-gray li.lastExpandable {
  background-image: url("../img/icons/treeview-gray.gif");
}
.treeview-famfamfam li {
  background-image: url("../img/icons/treeview-famfamfam-line.gif");
}
.treeview-famfamfam .hitarea,
.treeview-famfamfam li.lastCollapsable,
.treeview-famfamfam li.lastExpandable {
  background-image: url("../img/icons/treeview-famfamfam.gif");
}
.filetree li {
  padding: 3px 0 2px 16px;
}
.filetree span.folder,
.filetree span.file {
  display: block;
  padding: 1px 0 1px 21px;
}
.filetree span.folder {
  background: url("../img/icons/folder.png") 0 0 no-repeat;
}
.filetree li.expandable span.folder {
  background: url("../img/icons/folder-closed.png") 0 0 no-repeat;
}
.filetree span.file {
  background: url("../img/icons/file.png") 0 0 no-repeat;
}
/* =========================================================================
Pagination
=========================================================================
   ================================================== */
.pagination {
  height: 36px;
}
.pagination .active a {
  background-color: #fff;
  color: #888;
  cursor: default;
}
.pagination li {
  display: inline;
}
.pagination li:first-child a {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  behavior: url(css/PIE.htc);
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  behavior: url(css/PIE.htc);
  border-radius: 0 3px 3px 0;
}
.pagination ul {
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  behavior: url(css/PIE.htc);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}
.pagination a {
  background-color: #eee;
  border: 1px solid #ddd;
  border-left-width: 0;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
}
.pagination a:hover,
.pagination .active a {
  background-color: #ffffff;
}
.pagination-centered {
  text-align: center;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  background-color: #eee;
  color: #888;
  cursor: default;
}
.pagination-right {
  text-align: right;
}
/* =========================================================================
Progress Bar
=========================================================================
   ================================================== */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  -moz-border-radius: 4px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  behavior: url(css/PIE.htc);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  height: 18px;
  margin-bottom: 18px;
}
.progress .bar {
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  -moz-transition: width 0.6s ease;
  -ms-box-sizing: border-box;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -ms-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  behavior: url(css/PIE.htc);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  font-size: 12px;
  height: 18px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  transition: width 0.6s ease;
  width: 0%;
}
.progress-striped .bar {
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  -webkit-background-size: 40px 40px;
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  behavior: url(css/PIE.htc);
}
.progress.active .bar {
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  behavior: url(css/PIE.htc);
}
.progress-danger .bar {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  behavior: url(css/PIE.htc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}
.progress-danger.progress-striped .bar {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  behavior: url(css/PIE.htc);
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  padding: 0 0 0 10px;
  text-align: left;
  text-transform: uppercase;
}
.progress-success .bar {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-repeat: repeat-x;
  behavior: url(css/PIE.htc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}
.progress-success.progress-striped .bar {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  behavior: url(css/PIE.htc);
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  padding: 0 0 0 10px;
  text-align: left;
  text-transform: uppercase;
}
.progress-info .bar {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  behavior: url(css/PIE.htc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}
.progress-info.progress-striped .bar {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  behavior: url(css/PIE.htc);
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  padding: 0 0 0 10px;
  text-align: left;
  text-transform: uppercase;
}
.progress-warning .bar {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  behavior: url(css/PIE.htc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
}
.progress-warning.progress-striped .bar {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  behavior: url(css/PIE.htc);
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  padding: 0 0 0 10px;
  text-align: left;
  text-transform: uppercase;
}
/* =========================================================================
Accordion
=========================================================================
   ================================================== */
#accordion {
  width: 100%;
}
#accordion .accordion-wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F3F3F3;
  padding: 22px 22px 7px 22px;
}
#accordion .accordion-wrapper .img-border {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E7E7E7;
  display: inline-block;
  float: left;
  margin: 4px 20px 0 0;
  padding: 5px;
}
#accordion a.selected {
  color: #333333;
}
#accordion a.selected span {
  background: url("../img/accordion-close.png") no-repeat scroll right center transparent;
  display: block;
  padding: 10px 22px;
}
#accordion a {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  background-color: #F9F9F9;
  background-image: linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  color: #999;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: -1px;
  padding: 0;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
}
#accordion a:hover {
  background: #eee;
  color: #333;
}
#accordion a span {
  background: url("../img/accordion-open.png") no-repeat scroll right center transparent;
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 22px;
}
#accordion p {
  border: none;
  text-decoration: none;
}
.faq-accordion span {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.faq-accordion .qa-text {
  display: block;
  padding-left: 30px;
}
.faq-accordion .qa {
  color: #D73604;
  float: left;
  font-weight: 700;
  padding-right: 12px;
}
.faq-accordion p {
  padding: 0 0 0 30px;
}
/* =========================================================================
TABS
=========================================================================
   ================================================== */
.tabs {
  border-bottom: 1px solid #f3f3f3;
  height: auto!important;
  padding: 30px;
  position: relative;
}
.tab-menu {
  border-bottom: 1px solid #f3f3f3;
  float: left;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
.tab-menu li {
  background: none repeat scroll 0 0 #f3f3f3;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  float: left;
  line-height: 31px;
  margin: 0 1px 0 0 !important;
  margin-bottom: -1px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: auto !important;
}
.tab-menu li a {
  color: #333;
  display: block;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
}
.tab-menu li a:hover {
  background: none repeat scroll 0 0 #e7e7e7;
}
/* TAB CONTAINER
   ================================================== */
html .tab-menu li.active,
html .tab-menu li.active a:hover {
  background: none repeat scroll 0 0 #fff;
  width: auto;
}
.tab-container {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #f3f3f3;
  border-top: none;
  clear: both;
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  width: 99.7%;
}
.tab-content-1 {
  padding: 22px 22px 7px 22px;
  position: relative;
}
.tab-container-two {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #f3f3f3;
  border-top: none;
  clear: both;
  float: left;
  margin-bottom: 0;
  overflow: hidden;
  width: 442px;
}
.tab-content-img1 {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #f3f3f3;
  float: left;
  margin: 4px 10px 10px 0;
  padding: 4px;
}
.tab-content-img2 {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #f3f3f3;
  float: right;
  margin: 4px 0 10px 10px;
  padding: 4px;
}
/* =========================================================================
Price Start
=========================================================================
   ================================================== */
.price-table-two .price-column {
  width: 50%;
}
.price-table-three .price-column {
  width: 33%;
}
.price-table-four .price-column {
  width: 25%;
}
.price-table-five .price-column {
  width: 20%;
}
.price-column {
  float: left;
  margin: 10px 0;
}
.price-column .price-tag {
  color: #333;
  text-shadow: 0 0 0;
}
.price-column li.even {
  color: #555555;
}
.price-column .button {
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-transition: all 0.2s ease-in-out;
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  /* FF3.6 */

  /* IE10 */

  /* Opera 11.10+ */

  /* Saf4+, Chrome */

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -ms-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(top, #ffffff, #f3f3f3);
  behavior: url(css/PIE.htc);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2em;
  margin-right: 5px;
  padding: 8px 14px;
  text-decoration: none;
}
.price-column .button:hover {
  background: #303030;
  color: #fff;
  text-decoration: none;
}
.price-column strong,
strong a {
  font-family: 'OpenSansBold', Arial;
  font-size: 12px;
  line-height: 22px;
}
.price-column .first {
  background-color: #FAFAFA;
  margin: 0 0 0;
  padding-bottom: 17px;
}
.price-column .last {
  background: none repeat scroll 0 0 transparent;
  padding: 17px 10px 17px 10px;
}
.price-column h4 {
  border-bottom: 0 none;
  font-size: 18px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.price-column ul {
  list-style-type: none;
  margin: 0;
}
.price-column ul li {
  background: url("../img/price-list.png") repeat-x scroll 0 100% transparent;
  color: #666666;
  padding: 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
.price-column ul li,
.price-column h4 {
  text-align: center;
}
.price-column h4 {
  background-color: #1a80b3;
  color: #fff;
}
.price-column-first {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  behavior: url(css/PIE.htc);
  border-radius: 3px 0 0 3px;
}
.price-column-first h4,
.price-column-first {
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  behavior: url(css/PIE.htc);
  border-radius: 3px 0 0 0;
}
.price-column-first h4,
.price-column-last h4 {
  background-color: #444444;
}
.price-column-last {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  behavior: url(css/PIE.htc);
  border-radius: 0 3px 3px 0;
}
.price-column-last h4,
.price-column-last {
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  behavior: url(css/PIE.htc);
  border-radius: 0 3px 0 0;
}
.price-column {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  background-color: #FCFCFC;
  behavior: url(css/PIE.htc);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  position: relative;
}
.price-column-even {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  background-color: #FEFEFE;
  behavior: url(css/PIE.htc);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  z-index: 3;
}
.price-column-even h4 {
  background-color: #333333;
}
.price-column-featured {
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  background-color: #fff;
  behavior: url(css/PIE.htc);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  margin: 0;
  margin-bottom: 3px;
  position: relative;
  z-index: 9;
}
.price-column-featured h4 {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  background-color: #289DCC;
  behavior: url(css/PIE.htc);
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
}
.price-column-featured h4 {
  font-size: 26px;
  line-height: 46px;
}
.price-column-featured ul {
  padding-bottom: 11px;
}
.price-tag .price-value {
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 8px;
}
.price-tag .big {
  font-size: 46px;
  line-height: 43px;
  margin-bottom: 5px;
}
.price-tag .price-period {
  font-size: 14px;
  line-height: 16px;
}
/* =========================================================================
Price Table
=========================================================================
   ================================================== */
table {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border: 4px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  width: 99.999%;
}
table .text {
  color: #FFFF92;
  font-family: 'OpenSansBold';
  font-size: 12px;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  text-transform: uppercase;
}
table tr {
  height: 60px;
}
table tr td {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
  color: #fff;
}
table tr th {
  background: none repeat scroll 0 0 #FDDD04;
  border-right: 1px solid #31530d;
  color: #000;
  font: italic 20px 'georgia' !important;
  margin: 0;
  padding: 6px 0px;
  text-align: left;
  text-align: center;
  text-shadow: 0 1px 1px #ffea59;
  vertical-align: middle;
}
table tr th {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  font: italic 20px 'georgia' !important;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 1px #6A93AD;
  vertical-align: middle;
}
table tr td {
  border-bottom: 1px solid #31530d;
  border-right: 1px solid #31530d;
  padding: 6px 6px;
  vertical-align: middle;
}
table tr td img {
  vertical-align: middle;
}
td.rates {
  font: italic 20px 'georgia' !important;
  margin: 0;
  text-align: center;
}
a.table-button:link,
a.table-button:visited {
  padding: 6px !important;
}
.tr-none-1 {
  display: none;
}
table.table-red {
  background: none repeat scroll 0 0 #d82b31;
}
table.table-green {
  background: none repeat scroll 0 0 #51a351;
}
table.table-blue {
  background: none repeat scroll 0 0 #3d5b99;
}
table.table-black {
  background: none repeat scroll 0 0 #777777;
}
/* =========================================================================
Price List
=========================================================================
   ================================================== */
.price-list-1 {
  padding: 0 0 20px 1px;
}
.price-list-1 li {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  behavior: url(js/PIE.htc);
  border-radius: 5px 5px 5px 5px;
  color: #EB4D3A;
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  margin: 1px 0;
  overflow: hidden;
  padding: 10px 0;
  vertical-align: top;
  width: 100%;
}
.price-list-1 li:hover {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
.price-list-1 li a:hover,
.price-list-1 li:hover a {
  color: #40aed7;
}
.price-list-1 li span {
  color: #40AED7;
  float: right;
  padding-right: 30px;
}
.price-list-1 li a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: url("images/arrow.png") no-repeat scroll 10px 5px transparent;
  behavior: url(css/PIE.htc);
  color: #777;
  float: left;
  padding-left: 30px;
  text-decoration: none;
  transition: all 0.5s ease;
}
@media (min-width: 1300px) {
  
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (max-width: 979px) {
  .price-table-two .price-column {
    width: 50%;
  }
  .price-table-three .price-column {
    width: 50%;
  }
  .price-table-four .price-column {
    width: 50%;
  }
  .price-table-five .price-column {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (min-width: 626px) and (max-width: 767px) {
  
}
@media (max-width: 626px) {
  
}
@media (max-width: 530px) {
  
}
@media (min-width: 482px) and (max-width: 625px) {
  
}
@media (max-width: 480px) {
  .price-table-two .price-column {
    width: 100%;
  }
  .price-table-three .price-column {
    width: 100%;
  }
  .price-table-four .price-column {
    width: 100%;
  }
  .price-table-five .price-column {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  
}
@media (max-width: 320px) {
  
}
