/* * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
   ================================================== */
/* ===[ Browser Resets ]=== */
.slides,
.flex-control-nav,
.flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex-direction-nav .flex-disabled {
  cursor: default;
  filter: alpha(opacity=30);
  opacity: .3!important;
}
.flex-direction-nav .flex-prev {
  left: -36px;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
.flex-direction-nav a {
  -webkit-transition: all .3s ease;
  background: url(../img/bg_direction_nav.png) no-repeat 0 0;
  cursor: pointer;
  display: block;
  height: 30px;
  margin: -20px 0 0;
  opacity: 0;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 30px;
  z-index: 10;
}
.flex-control-nav li {
  *display: inline;
  display: inline-block;
  margin: 0 6px;
  zoom: 1;
}
.slides:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.flex-direction-nav {
  display: none;
}
/** FlexSlider Necessary Styles
 * ********************************
 */
.fx-slider {
  padding-top: 0;
  position: relative;
}
.fx-slider .camera-caption2 {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #666666;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 21px;
  padding: 0 15px;
  text-transform: uppercase;
}
.fx-slider .camera-caption1 {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: none repeat scroll 0 0 #289DCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 0;
  padding: 0 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.fx-caption {
  left: 20px;
  position: absolute;
  top: 23px;
  z-index: 9;
}
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-prev {
  left: 5px;
  opacity: 0.8;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  -webkit-backface-visibility: hidden;
  display: none;
}
.flexslider .slides img {
  display: block;
  width: 100%;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
/* ===[ Hide the slides before the JS is loaded. Avoids image jumping ]=== */
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ===[ Clearfix for the .slides element ]=== */
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* ===[ No JavaScript Fallback ]=== */
/** If you are not using another script, such as Modernizr, make sure you
 *  * include js that eliminates this class on page load
 */
.no-js .slides > li:first-child {
  display: block;
}
/** FlexSlider Default Theme
 * ********************************
 */
.flexslider {
  background: #fff;
  position: relative;
  zoom: 1;
}
.flex-viewport {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  max-height: 2000px;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
/* ===[ Direction Nav ]=== */
.flex-direction-nav {
  *height: 0;
}
/* ===[ Control Nav ]=== */
.flex-control-nav {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.flex-control-paging li a {
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  height: 11px;
  text-indent: -9999px;
  width: 11px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 0 0 0;
  overflow: hidden;
  position: static;
}
.flex-control-thumbs .flex-active {
  cursor: default;
  opacity: 1;
}
.flex-control-thumbs img {
  cursor: pointer;
  display: block;
  opacity: .7;
  width: 100%;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs li {
  float: left;
  margin: 0;
  width: 25%;
}
@media (min-width: 1300px) {
  .fx-caption {
    left: 50px;
    top: 43px;
  }
  .fx-slider .camera-caption1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
  }
  .fx-slider .camera-caption2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (max-width: 979px) {
  .fx-caption {
    left: 0;
    text-align: center;
    top: 18px;
    width: 100%;
  }
  .fx-slider .camera-caption1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
  }
  .fx-slider .camera-caption2 {
    font-size: 10px;
    font-weight: 700;
    line-height: 27px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  .fx-caption {
    left: 0;
    text-align: center;
    top: 18px;
    width: 100%;
  }
  .fx-slider .camera-caption1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
  }
  .fx-slider .camera-caption2 {
    display: none;
  }
}
@media (min-width: 626px) and (max-width: 767px) {
  
}
@media (max-width: 626px) {
  
}
@media (max-width: 530px) {
  
}
@media (min-width: 482px) and (max-width: 625px) {
  
}
@media (max-width: 480px) {
  .fx-slider .camera-caption1 {
    display: none;
  }
  .fx-slider .camera-caption2 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  
}
@media (max-width: 320px) {
  
}
