/* =========================================================================
 Layout Box Style
=========================================================================
   ==================================================
   ================================================== */
.layout-box {
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  border: 1px solid #e8e8e8;
  border-radius: 3px 3px 3px 3px;
  color: #666;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  transition: all .3s ease;
}
.layout-box:hover {
  background: none repeat scroll 0 0 #D73604;
  border: 1px solid #B71610;
  color: #fff;
}
/* =========================================================================
 Separator
=========================================================================
   ==================================================
   ================================================== */
.separator {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.separator:before {
  -moz-border-radius: 7px;
  -moz-box-shadow: 0 1px 2px #DDDDDD inset;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: 0 1px 2px #DDDDDD inset;
  background: none repeat scroll 0 0 #F7F7F7;
  behavior: url(css/PIE.htc);
  border-radius: 7px;
  bottom: 0;
  box-shadow: 0 1px 2px #DDDDDD inset;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
.separator-sidebar {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.separator-sidebar:before {
  border-bottom: 1px dashed #ccc;
  bottom: 0;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
}
.phone-separator {
  display: none;
}
/* =========================================================================
 Notificition
=========================================================================
   ==================================================
   ================================================== */
.notify {
  display: inline-block;
  margin: 30px 10px 30px 10px;
  position: relative;
  text-align: center;
  width: 940px;
}
.notify .icon-nf {
  -moz-box-shadow: 0 0 10px #DDDDDD;
  -webkit-box-shadow: 0 0 10px #DDDDDD;
  background: none repeat scroll 0 0 #DDDDDD;
  behavior: url(css/PIE.htc);
  box-shadow: 0 0 10px #DDDDDD;
  left: 25px;
  position: absolute;
  top: 20px;
}
.notify h2 {
  color: #4C3E37;
  display: block;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.notify h2 .sub-heading {
  color: #aaa;
  display: block;
  float: right;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding-top: 6px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: lowercase;
}
.notify p {
  margin-bottom: 0;
}
.notify-left-text {
  float: left;
  margin-left: 10px;
  width: 772px;
}
.tagline .notify-left-text h1 {
  line-height: 32px;
  margin-bottom: 3px;
}
.tagline .notify-left-text p {
  color: #777777;
}
.notify-button {
  display: inline-block;
  float: right;
  margin: 0 10px 0 0;
}
.notify-2 {
  display: inline-block;
  margin: 20px 10px 20px 10px;
  position: relative;
  text-align: center;
  width: 940px;
}
.notify-2 .tagline h1 {
  color: #ffffff;
}
.notify-2 .icon-nf {
  -moz-box-shadow: 0 0 10px #DDDDDD;
  -webkit-box-shadow: 0 0 10px #DDDDDD;
  background: none repeat scroll 0 0 #DDDDDD;
  behavior: url(css/PIE.htc);
  box-shadow: 0 0 10px #DDDDDD;
  left: 25px;
  position: absolute;
  top: 20px;
}
.notify-2 h2 {
  color: #000;
  display: block;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.notify-2 h2 .sub-heading {
  color: #aaa;
  display: block;
  float: right;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding-top: 6px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: lowercase;
}
.notify-2 a {
  color: #ef1f27;
}
.notify-2 a:hover {
  color: #999999;
}
.notify-2 p {
  background: none repeat scroll 0 0 #EF1F27;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 10px;
}
.notify-wrapper {
  display: inline-block;
  margin: 0;
}
.notify-wrapper em {
  color: #777777;
  font-size: 14px;
  line-height: 51px;
  margin: 0 5px;
}
/* =========================================================================
 Breadcrumbs
=========================================================================
   ==================================================
   ================================================== */
.breadcrumbs {
  overflow: hidden;
  position: relative;
}
.breadcrumbs span.bread-home {
  text-indent: -9999px;
}
.breadcrumbs span.bread-home a {
  background-image: url("../img/home-icon.png"), url("../img/breads.png");
  background-position: left 20px, right center;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 2px 52px 0 0;
  text-indent: -9999px;
  text-shadow: none;
}
.breadcrumbs span.bread-home a:hover {
  background-position: left -48px, right center;
}
.breadcrumbs p {
  color: #777;
  display: inline;
  font-family: 'Open Sans', Arial;
  font-size: 12px;
  font-weight: 600;
  line-height: 55px;
  margin: 0;
}
.breadcrumbs a {
  background: url("../img/breads.png") no-repeat scroll right 0 transparent;
  color: #777;
  float: left;
  font-size: 100%;
  height: auto;
  margin: 0 30px 1px 0;
  padding: 0 30px 0 0;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
.breadcrumbs a:hover {
  opacity: 1;
  text-decoration: none;
}
/* =========================================================================
 Buttons
=========================================================================
   ==================================================
   ================================================== */
.donate-button {
  color: #777;
  float: right;
  padding: 0 18px;
}
.donate-button:hover {
  color: #ffffff;
}
.newsletter-button {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #828387;
  display: inline-block;
  padding: 2px 20px 2px;
}
.newsletter-button:hover {
  background: none repeat scroll 0 0 #40AED7;
  border: 1px solid #65a121;
  color: #FFFFFF;
  text-decoration: none;
}
/* =========================================================================
 Portfolio
=========================================================================
   ==================================================
   ================================================== */
.heading {
  position: relative;
  text-align: center;
  width: 100%;
}
.heading strong {
  -moz-border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px #cccccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#cccccc)";
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px #cccccc;
  /*FF 3.5+*/

  /*Firefox*/

  /*IE 5.5-7*/

  /*IE 8*/

  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/

  /*Safari, Chrome*/

  background-color: #289DCC;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #cccccc;
  color: #FFFFFF;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#cccccc);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 21px !important;
  line-height: 30px !important;
  padding: 6px 31px !important;
  position: relative;
  text-transform: uppercase;
}
.heading strong:after {
  border-color: #289DCC transparent;
  border-style: solid;
  border-width: 7px 7px 0;
  bottom: -7px;
  content: "";
  display: block;
  left: 48%;
  position: absolute;
  width: 0;
}
.heading span {
  color: #000000;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 3px;
  text-transform: none;
}
.og-grid {
  list-style: none;
  text-align: center;
  width: 100%;
}
.og-grid li.og-expanded > a::after {
  border: solid transparent;
  border-bottom-color: #eee;
  border-width: 15px;
  content: " ";
  height: 0;
  left: 50%;
  margin: -8px 0 0 -15px;
  pointer-events: none;
  position: absolute;
  top: auto;
  width: 0;
}
.og-grid li {
  display: inline-block;
  margin: 40px 10px 0;
  vertical-align: top;
}
.og-grid li > a {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  /*Firefox*/

  /*Safari, Chrome*/

  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 100%;
  display: block;
  opacity: 1;
  padding: 10px;
  position: relative;
}
.og-grid li > a:hover {
  opacity: 0.7;
}
.og-grid li > a img {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  /*Firefox*/

  /*Safari, Chrome*/

  border: none;
  border-radius: 100%;
  display: block;
  outline: none;
  position: relative;
  width: 100%;
}
.og-expander {
  background: #eee;
  height: 0;
  left: 0;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: auto;
  width: 100%;
}
.og-expander-inner {
  height: 100%;
  padding: 50px 30px;
}
.og-close {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}
.og-close:hover::before,
.og-close:hover::after {
  background: #333333;
}
.og-close::before,
.og-close::after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #888;
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 100%;
}
.og-close::after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.og-fullimg,
.og-details {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}
.og-fullimg img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CECECE;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}
.og-details h3 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}
.og-details p {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.og-details a {
  border: 3px solid #333;
  color: #333;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px 0 0;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
.og-details a:hover {
  border-color: #999;
  color: #999;
}
.og-details {
  padding: 0 40px 0 20px;
}
.og-fullimg {
  text-align: center;
}
.og-loading {
  -moz-animation: loader 0.5s infinite ease-in-out both;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  height: 20px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  width: 20px;
}
@-webkit-keyframes loader {
  0% {
    background: #dddddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-moz-keyframes loader {
  0% {
    background: #dddddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@keyframes loader {
  0% {
    background: #dddddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
  /* =========================================================================
  	       Portfolio
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  #filter {
    display: block;
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  #filter .active a {
    background: none repeat scroll 0 0 #303030;
    border: 1px solid #000000;
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
  }
  #filter li {
    display: inline-block;
    margin: 0 5px 0 0;
    overflow: hidden;
    padding: 0;
  }
  #filter a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    color: #5B5B5D;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    outline: medium none;
    padding: 6px 16px;
    text-decoration: none;
  }
  #filter a:hover {
    background: none repeat scroll 0 0 #D73604;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
  }
  .port-filters a {
    color: #7ab64e;
  }
  /* =========================================================================
  	       Scrool box
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  #jp-container1 .date {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url(css/PIE.htc);
    border-radius: 7px;
    margin-bottom: 0;
    top: 3px !important;
  }
  .jp-container {
    background: #fff;
    border: 1px solid #EEEEEE;
    float: left;
    height: 251px !important;
    margin-bottom: 20px;
    position: relative;
    width: 458px !important;
  }
  .jp-container a {
    background-color: #fff;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #FFFFFF;
    display: block;
    line-height: 20px;
    padding: 15px 20px;
  }
  .jp-container a .testi-img-right {
    background: none;
    border: 0 none;
    bottom: 7px;
    float: right;
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
  }
  .jp-container a .testi-img-left {
    background: none;
    border: 0 none;
    bottom: 7px;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    position: relative;
  }
  .jp-container a:first-child {
    border-top: none;
  }
  .jp-container a:last-child {
    border-bottom: none;
  }
  .jp-container a:hover {
    background: #F7F7F7;
    border-bottom-color: #FFFFFF;
    color: #303030;
  }
  .jp-container a img {
    background: #fff;
    border: 1px solid #D8DFEA;
    float: left;
    margin: 5px 10px 0px 0px;
    padding: 3px;
  }
  .jp-container a h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 2px 0 5px 0;
    text-transform: uppercase;
  }
  .jspContainer {
    height: 251px !important;
    overflow: hidden;
    position: relative;
    width: 458px !important;
  }
  .jspPane {
    position: absolute;
    width: 458px !important;
  }
  .jspVerticalBar {
    background: transparent;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
  }
  .jspVerticalBar .jspArrow {
    height: 16px;
  }
  .jspVerticalBar .jspArrow:focus {
    outline: none;
  }
  .jspHorizontalBar {
    background: transparent;
    bottom: 0;
    height: 14px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .jspHorizontalBar .jspArrow {
    float: left;
    height: 100%;
    width: 16px;
  }
  .jspHorizontalBar .jspTrack,
  .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
  }
  .jspHorizontalBar .jspCap {
    float: left;
  }
  .jspVerticalBar *,
  .jspHorizontalBar * {
    margin: 0;
    padding: 0;
  }
  .jspCap {
    display: none;
  }
  .jspTrack {
    background: none repeat scroll 0 0 #F9F9F9;
    position: relative;
  }
  .jspDrag {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: url("../img/nav-scroll.png") no-repeat scroll 50% 50% #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 #AAAAAA inset;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
  }
  .jspArrow {
    background: #50506d;
    cursor: pointer;
    display: block;
    text-indent: -20000px;
  }
  .jspArrow.jspDisabled {
    background: #80808d;
    cursor: default;
  }
  .jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
  }
  /* ===[ Yuk! CSS Hack for IE6 3 pixel bug :( ]===
  	   ================================================== */
  * html .jspCorner {
    margin: 0 -3px 0 0;
  }
  /* =========================================================================
  	       Wmu Slider
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  /* ===[ Demo ]===
  	   ================================================== */
  /* mwuSlider   */
  .wmuSlider {
    overflow: visible;
    position: relative;
  }
  .wmuSlider .wmuSliderWrapper {
    display: none;
  }
  .wmuSlider .wmuSliderWrapper article {
    position: relative;
    text-align: center;
  }
  .wmuSlider .wmuSliderWrapper article img {
    height: auto;
    max-width: 100%;
    width: auto;
  }
  /* mwuGallery   */
  .wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
  }
  .wmuGallery .wmuGalleryImage img {
    height: auto;
    max-width: 100%;
    width: auto;
  }
  /* ===[ Default Skin ]===
  	   ================================================== */
  .wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
  }
  .wmuSliderPrev,
  .wmuSliderNext {
    background: url(../img/sprites.png) no-repeat 0 0;
    height: 80px;
    margin-top: -40px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 40px;
    z-index: 2;
  }
  .wmuSliderPrev {
    background-position: 100% 0;
    left: 20px;
  }
  .wmuSliderNext {
    right: 20px;
  }
  .wmuSliderPagination {
    bottom: 10px;
    left: 20px;
    position: absolute;
    z-index: 2;
  }
  .wmuSliderPagination a.wmuActive {
    background-position: -10px -80px;
  }
  .wmuSliderPagination li {
    float: left;
    list-style-type: none;
    margin: 0 5px 0 0 !important;
    width: auto !important;
  }
  .wmuSliderPagination a {
    background: url(../img/sprites.png) no-repeat 0 -80px;
    display: block;
    height: 10px;
    text-indent: -9999px;
    width: 10px;
  }
  /* =========================================================================
  	       Feature Boxes
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  .features ul li li {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    behavior: url(css/PIE.htc);
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 10px 20px;
    padding: 20px 20px 0px 20px;
    width: 258px;
  }
  /* =========================================================================
  	       Service Box
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  .box {
    display: inline-block;
  }
  .box li {
    background: url("../img/vertical-line.jpg") no-repeat scroll right -39px transparent;
    float: left;
    padding: 0 20px;
    width: 200px;
  }
  .box li:last-child {
    background: none repeat scroll 0 0 transparent;
  }
  .box1 {
    text-align: center;
  }
  .box1:hover .img-1 {
    opacity: 0;
  }
  .box1:hover .img-2 {
    opacity: 1;
    z-index: 2;
  }
  .box1:hover h3 {
    color: #fff;
    text-shadow: 1px 1px 0 #c84233, 2px 2px 0 rgba(0, 0, 0, 0.3);
  }
  .box1:hover h4 {
    color: #0c374e;
  }
  .box1:hover p {
    color: #0c374e;
  }
  .box1 h4 {
    color: #000;
    font-family: 'Open Sans', Arial;
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    padding: 20px 0 0 0;
  }
  .box1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }
  .imgs {
    height: 48px;
    margin: 0 auto;
    position: relative;
    width: 48px;
    z-index: 2;
  }
  .imgs img {
    left: 0;
    position: absolute;
    top: 0;
  }
  .img-2 {
    opacity: 0;
    z-index: 2;
  }
  .box2 {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: url("../img/transparent-white.png") repeat scroll 0 0 transparent;
    behavior: url(css/PIE.htc);
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 20px 0;
    overflow: hidden;
    padding: 20px 0 20px 26px;
    position: relative;
  }
  /* =========================================================================
  	       Quotes & Search
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  .quotes {
    border-right: 1px solid #eee;
    float: left;
    height: 52px;
    padding-top: 6px;
    position: relative;
    width: 592px;
  }
  .quotes .flex-control-nav {
    bottom: 1px;
    list-style: none;
    overflow: hidden;
    position: relative;
    position: absolute;
    right: 19px;
  }
  .quotes .flex-control-nav li {
    float: left;
    margin-right: 3px;
  }
  .quotes .flex-control-nav li a {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #ccc;
    behavior: url(css/PIE.htc);
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 10px;
    text-indent: -5000px;
    width: 10px;
  }
  .quotes .flex-control-nav li a:hover,
  .quotes .flex-control-nav li a.active {
    background: none repeat scroll 0 0 #40aed7;
  }
  .quotes blockquote {
    background: url(../img/icons/quotes.png) 0 3px no-repeat;
    color: #828387;
    font-family: 'Open Sans', Arial;
    font-size: 15px;
    line-height: 22px;
    padding: 0 50px 0 64px;
  }
  .search-ft {
    float: left;
    padding: 10px 0 0 20px;
    width: 280px;
  }
  #search-ft {
    padding: 4px 0 0;
  }
  #search-ft .button {
    padding: 3px 18px 5px;
  }
  #search-ft input {
    background: url("../img/icons/input-mail.jpg") no-repeat scroll 6px 8px #fbfbfc;
    border: 1px solid #E7E7E7;
    color: #A5A4A4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 6px 5px 6px 28px;
    vertical-align: middle;
    width: 163px;
  }
  #search-ft input {
    width: 162px;
  }
  .search {
    float: left;
    padding: 10px 0 0 0;
    width: 100%;
  }
  /* =========================================================================
  	       Footer
  	      =========================================================================
  	       ==================================================
  	   ================================================== */
  .footer-1 h5 {
    color: #fff;
    text-shadow: 1px 1px 0 #000000, 2px 2px 0 #444444;
  }
  /* ===[ About Text ]===
  	   ================================================== */
  /* ===[ Twitter ]===
  	   ================================================== */
  .tweets {
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  .tweets ul li {
    -moz-box-shadow: 0 0 1px #666 inset;
    -webkit-box-shadow: 0 0 1px #666 inset;
    background: url(../img/icons/bird-small.png) 8px 12px no-repeat rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px #666 inset;
    margin: 0 0 15px 0;
    padding: 10px 10px 10px 35px;
  }
  .tweets ul li a {
    color: #40AED7;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }
  .tweets ul li,
  .tweets p {
    font-size: 12px;
    line-height: 16px;
  }
  /* flickr   */
  .flickr div {
    margin: 0;
    padding-bottom: 0;
  }
  .flickr ul li {
    float: left;
    margin: 0 10px 15px 0;
  }
  .flickr ul li img {
    height: 51px;
    margin: 0;
    width: 51px;
  }
  .flickr ul li img {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    float: left;
    margin-right: 12px;
    margin-top: 4px;
    padding: 6px;
  }
  .flickr ul li.empty {
    font-size: 0;
    margin: 0;
  }
  /* ===[ Sociable ]===
  	   ================================================== */
  .sociable ul li {
    margin-right: 5px;
  }
  footer .sociable ul li {
    float: left;
    margin-bottom: 15px;
    margin-right: 5px;
  }
  .social {
    overflow: hidden;
    position: relative;
  }
  .social .img-2 {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 3;
  }
  .social .img-1 {
    opacity: 1;
    position: relative;
    z-index: 2;
  }
  .social li {
    float: left;
    margin-right: 5px;
  }
  .social li a {
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    height: 26px;
    line-height: 25px;
    position: relative;
  }
  .social li a:hover {
    color: #ffffff;
  }
  .social li a:hover .img-1 {
    opacity: 0;
  }
  .social li a:hover .img-2 {
    opacity: 1;
  }
  .social li a img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-right: 5px;
    transition: all 0.5s ease;
  }
  footer .social li a img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  /* back to top button   */
  #toTop {
    -moz-border-radius: 50% 50% 50% 50%;
    -moz-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.1);
    background: url(../img/ui.totop.png) no-repeat 0 0 rgba(0, 0, 0, 0.3);
    behavior: url(css/PIE.htc);
    border: none;
    border-radius: 50% 50% 50% 50%;
    bottom: 31px;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.1);
    display: none;
    height: 47px;
    overflow: hidden;
    position: fixed;
    right: 50%;
    text-decoration: none;
    text-indent: -999px;
    width: 47px;
    z-index: 20;
  }
  #toTop:active,
  #toTop:focus {
    outline: none;
  }
  #toTop:hover {
    background: url(../img/ui.totop.png) no-repeat 0 -57px rgba(255, 255, 255, 0.7);
  }
  media_tag_0 {
    media_subcode: 0;
  }
  media_tag_1 {
    media_subcode: 1;
  }
  media_tag_2 {
    media_subcode: 2;
  }
  .rw-words {
    display: inline;
    text-indent: 10px;
  }
  .rw-words span:nth-child(5) {
    -moz-animation-delay: 12s;
    -ms-animation-delay: 12s;
    -o-animation-delay: 12s;
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    color: saddlebrown;
  }
  .rw-words span:nth-child(2) {
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    color: royalblue;
  }
  .rw-words span:nth-child(4) {
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    -o-animation-delay: 9s;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
    color: plum;
  }
  .rw-words span:nth-child(3) {
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    color: darkcyan;
  }
  .rw-words span:nth-child(6) {
    -moz-animation-delay: 15s;
    -ms-animation-delay: 15s;
    -o-animation-delay: 15s;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    color: orange;
  }
  .rw-words-1 span {
    -moz-animation: rotateWord 18s linear infinite 0s;
    -moz-transform-origin: 10% 75%;
    -ms-animation: rotateWord 18s linear infinite 0s;
    -ms-transform-origin: 10% 75%;
    -o-animation: rotateWord 18s linear infinite 0s;
    -o-transform-origin: 10% 75%;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -webkit-transform-origin: 10% 75%;
    animation: rotateWord 18s linear infinite 0s;
    color: yellowgreen;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transform-origin: 10% 75%;
  }
}
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  17% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  19% {
    -webkit-transform: rotate(98deg);
    opacity: 1;
  }
  21% {
    -webkit-transform: rotate(86deg);
    opacity: 1;
  }
  23% {
    -webkit-transform: translateY(85px) rotate(83deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(170px) rotate(80deg);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  17% {
    -moz-transform: rotate(0deg);
    opacity: 1;
  }
  19% {
    -moz-transform: rotate(98deg);
    opacity: 1;
  }
  21% {
    -moz-transform: rotate(86deg);
    opacity: 1;
  }
  23% {
    -moz-transform: translateY(85px) rotate(83deg);
    opacity: 1;
  }
  25% {
    -moz-transform: translateY(170px) rotate(80deg);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  17% {
    -o-transform: rotate(0deg);
    opacity: 1;
  }
  19% {
    -o-transform: rotate(98deg);
    opacity: 1;
  }
  21% {
    -o-transform: rotate(86deg);
    opacity: 1;
  }
  23% {
    -o-transform: translateY(85px) rotate(83deg);
    opacity: 1;
  }
  25% {
    -o-transform: translateY(170px) rotate(80deg);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  17% {
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  19% {
    -ms-transform: rotate(98deg);
    opacity: 1;
  }
  21% {
    -ms-transform: rotate(86deg);
    opacity: 1;
  }
  23% {
    -ms-transform: translateY(85px) rotate(83deg);
    opacity: 1;
  }
  25% {
    -ms-transform: translateY(170px) rotate(80deg);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  17% {
    opacity: 1;
    transform: rotate(0deg);
  }
  19% {
    opacity: 1;
    transform: rotate(98deg);
  }
  21% {
    opacity: 1;
    transform: rotate(86deg);
  }
  23% {
    opacity: 1;
    transform: translateY(85px) rotate(83deg);
  }
  25% {
    opacity: 0;
    transform: translateY(170px) rotate(80deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
