<section id="fifth">
  <div class="container">
    <div class="row">
      <!-- Latest News -->
<!--
      <div class="span6">
        <h3 class="title"> <span>Dernières nouvelles</span> </h3>
        <ul class="list-blog">
          <li>
            <div class="overlow post-holder extra">
              <div class="date"> <span class="day">14</span> <span class="month">Juillet</span> </div>
              <h4>Lancement de notre nouveau produit</h4>
              <div class="date-1"><span>7 commentaires</span></div>
              <p>Eiusmod tempor labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. <a href="#" class="link">plus d'info &rarr;</a></p>
            </div>
          </li>
          <li>
            <div class="overlow post-holder extra">
              <div class="date"> <span class="day">20</span> <span class="month">Juillet</span> </div>
              <h4>Proteactice Caraïbes au salon de l'environnement</h4>
              <div class="date-1"><span>10 commentaires</span></div>
              <p>Eiusmod tempor labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. <a href="#" class="link">plus d'info &rarr;</a></p>
            </div>
          </li>
        </ul>
      </div>
-->
      <div class="span6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JjjhaCrSW10" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- Testimonials -->
      <div class="span6">
        <div id="cbp-qtrotator" class="cbp-qtrotator">
<!--                 <img class="testi-icon" src="assets/img/fon2-before.png" alt=""> -->
          <div class="cbp-qtcontent">
            <img src="assets/img/testimonial0.png" alt="">
            <div class="testi-text">
                <p>J'ai constaté une amélioration du fonctionnement de mon process de production ainsi qu'une réduction sensible des rejets de fumées et une baisse significative de ma consommation.</p>
                <small class="testi-name">M. <cite>Daniel COCO</cite>, Directeur de production de la société SOCARA</small>
            </div>
          </div>
          <div class="cbp-qtcontent">
            <img src="assets/img/testimonial0.png" alt="">
            <div class="testi-text">
              <p>…j'ai pu constater que ce produit permettait effectivement au four d'avoir un temps de chauffe réduit.</p><p>Je suis totalement satisfait de ce produit…</p>
              <small class="testi-name">M. <cite>Max CLAIRICIA</cite>, Société Aux Délices de Régales</small>
            </div>
          </div>
          <div class="cbp-qtcontent">
            <img src="assets/img/testimonial0.png" alt="">
            <div class="testi-text">
              <p>Depuis l'utilisation du PROTEA P2 nous observons une augmentation du rendement des moteurs avec une baisse considérable de notre consommation.</p>
              <small class="testi-name">M. <cite>Harry ARTIS</cite>, Directeur d'exploitation de la <abbr title="Centrale Froid Guadeloupe">CFG</abbr></small>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner -->
      <div class="span12">
        <h3 class="title top-40"> <span>Recommandé par:</span> </h3>
        <ul class="list-banners top-0">
          <li><a href="#"><img src="assets/img/partenaires/renault-trucks.jpg" alt="logo Renault Trucks"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/omniplus.jpg" alt="logo Omniplus"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/case.jpg" alt="logo Case"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/eneria.jpg" alt="logo Eneria"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/new-holland.jpg" alt="logo new holland"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/volvo.jpg" alt="logo volvo"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/iveco.jpg" alt="logo Iveco"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/jcb.jpg" alt="logo Jcb"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/wartsila.jpg" alt="logo Wartsila"></a></li>
          <li><a href="#"><img src="assets/img/partenaires/mercedes-benz.jpg" alt="logo mercedes-benz"></a></li>
        </ul>
      </div>
    </div>
  </div>
<!--       </div> -->
</section>
