footer#footer
  div.container
    div.row
      //- Footer Location
      div.span3.rel
        //- Footer tooltip
        div.location-tip Nos bureaux
          div.tooltip-bottom

        <!--box-dark starts-->
        div.box-color
          address
            Proteactive CaraIbes
            br
            Carrefour Dugazon
            br
            Les Abymes, 97139
            br
            GUADELOUPE
          a(class="btn-dark2" href="./contact.html") Contactez nous
      //- Footer Right
      div.span9
        div.row
          //- Footer About
          div.span3
            h3 À propos de PROTEA P2
            p Les traitements PROTEA P2 ont été conçus pour résoudre des problèmes critiques d'émission de gaz, de performances et de réduction de coûts…
            p Les enjeux et les besoins ont évolué, et il est temps d'apporter une réponse simple, efficace, écologique et économique.
          //- Footer Links
          div.span2
            h3 Liens utiles
            ul
              //- <li><i class="li icon-long-arrow-right text-error"></i> <a href="#">Nos engagements
              li
                i.li.icon-long-arrow-right.text-error
                a(href="./qui-sommes-nous.html") Proteactive en détail
              li
                i.li.icon-long-arrow-right.text-error
                a(href="./etudes-de-cas.html") Études de cas
              li
                i.li.icon-long-arrow-right.text-error
                a(href="./qui-sommes-nous.html") Proteactive en détail
              //-<li><i class="li icon-long-arrow-right text-error"></i> <a href="#">Suivre notre Newsletter</a></li> -->
          div.span2
            h3 Clients
            ul
              li
                i.li.icon-long-arrow-right.text-error
                a(href="./references.html") Témoignages
              //- <li><a href="./qui-sommes-nous.html">Nos clients</a></li> -->
          div.span2
            h3 Ressources
            ul
            //- <!--               <li><a href="./references.html">Témoignages</a></li> -->
            //- <!--               <li><a href="./qui-sommes-nous.html">Nos clients</a></li> -->
            li
              a(href="https://twitter.com/proteactive" class="twitter-follow-button" data-show-screen-name="true" data-show-count="false" data-lang="fr") Suivre @proteactive
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            li
              a(href="http://www.proteactive-caraibes.com/index.html" class="twitter-mention-button" data-related="proteactive" data-lang="fr") Tweet to @proteactive
            li
              div(fb-like data-href="http://www.proteactive-caraibes.com/index.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true")
        //- Footer separator-->
        div.footer-separator
        //- Footer Logo-->
        p.fleft &copy;
          d Proteactive Caraïbes
          br
          d 2000 - 2013
        //- Footer Logo-->
        ul.footer-links.fright
          li.text-right
            //- <a href="./mentions-legales.html">Mentions légales</a><br>  -->
            p
              d Site développé par
              br
              a(href="http://www.menkhit.com" title="" target="_blank") Menkh IT
