meta(charset="utf-8")
//- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="./apple-touch-icon-57-precomposed.png">
  <!--                                <link rel="shortcut icon" href="assets/ico/favicon.png" type="image/x-icon"> -->
  <link rel="icon" href="./favicon.ico" type="image/x-icon"><meta name="description" content="Les traitements PROTEA P2 ont été conçus pour résoudre des problèmes critiques d'émission de gaz polluants, de performances et de réduction de coûts">
meta(name="author" content="Proteactive Caraïbes")
meta(name="format-detection" content="telephone=no")
link(href="./assets/css/bootstrap.css" rel="stylesheet")
link(href="./assets/css/responsive.css" rel="stylesheet")
//- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet")
link(rel="stylesheet" href="./assets/css/application.css" type="text/css" media="screen")
<!--[if IE 7]>
link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.css" rel="stylesheet")
<![endif]-->
<!--[if lt IE 8]>
  link(rel="stylesheet" href="assets/css/ie.css" type="text/css" media="screen")
  script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
<![endif]-->
<!--[if lt IE 9]>
  link(rel="stylesheet" href="assets/css/ie.css" type="text/css" media="screen")
  script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
<![endif]-->
