<section id="intro">
  <!-- Slider -->
  <div class="slider-fixed">
    <div class="slider">
      <div class="camera_wrap camera_emboss" id="camera_wrap_3">
        <div data-src="assets/img/slides/big-banner-centrale3.jpg">
          <div class="camera-caption fadeIn">
            <h2><span class="camera-caption1">Baisse des émissions de gaz</span><span class="camera-caption2">réduction de la pollution</span></h2>
            <div class="clearfix"></div>
            <a href="./traitement-fuel-lourd-p455.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
        <div data-src="assets/img/slides/big-banner-moto.jpg">
          <div class="camera-caption fadeIn">
            <h1><span class="camera-caption1">Agent hyperlubrifiant</span><span class="camera-caption2">…protège tous les moteurs</span></h1>
            <div class="clearfix"></div>
            <a href="./protea.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
        <div data-src="assets/img/slides/big-banner-yachts.jpg">
          <div class="camera-caption fadeIn">
            <h2><span class="camera-caption1">Élimination des bactéries… </span><span class="camera-caption2">Rapide, efficace et durable</span></h2>
            <div class="clearfix"></div>
            <a href="./traitement-diesel-p550.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
        <div data-src="assets/img/slides/big-banner-jetski.jpg">
          <div class="camera-caption fadeIn">
            <h2><span class="camera-caption1">Hausse des performances </span><span class="camera-caption2">… et diminution des coûts</span></h2>
            <div class="clearfix"></div>
            <a href="./nettoyant-moteur-soupapes-haute-performance-p260.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
        <div data-src="assets/img/slides/big-banner-debroussailleuse.jpg">
          <div class="camera-caption fadeIn">
            <h2><span class="camera-caption1">Plus de performances </span><span class="camera-caption2">… moins de consommation</span></h2>
            <div class="clearfix"></div>
            <a href="./nettoyant-moteur-soupapes-haute-performance-p260.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
        <div data-src="assets/img/slides/big-banner-centrale1.jpg">
          <div class="camera-caption fadeIn">
            <h2><span class="camera-caption1">Hausse de la production </span><span class="camera-caption2">… et une meilleure qualité</span></h2>
            <div class="clearfix"></div>
            <a href="./nettoyant-moteur-soupapes-haute-performance-p260.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
        <div data-src="assets/img/slides/big-banner-cargo.jpg">
          <div class="camera-caption fadeIn">
            <h2><span class="camera-caption1">La réponse aux </span><span class="camera-caption2">problèmes des carburants</span></h2>
            <div class="clearfix"></div>
            <a href="./protea.html" class="button-yellow p1">Obtenir plus d'information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
