#nav
  .container
    .navbar.navbar_.clearfix
      .navbar-inner
        .clearfix
          //- Logo -->
          .brand
            <a href="./index.html"><img src="./assets/img/logo.jpg" alt="logo Proteactive Caraïbes"><img class="hidden-phone" src="./assets/img/logo-actioil.jpg" alt="logo Actioil"></a>
          //- Naviation -->
          nav.nav-collapse.nav-collapse_.collapse
            ul.nav.sf-menu.clearfix
              li.sub-menu.active
                a(href="#") Nos solutions
                ul
                  li
                    a(href="./protea.html") Traitements Protea P2
                  li
                    a(href="./traitement-diesel-p550.html") P550, pour Diesel
                  li
                    a(href="./traitement-fuel-lourd-p455.html") P455, pour fuel lourd
                  li
                    a(a href="./nettoyant-moteur-soupapes-haute-performance-p260.html") P260, pour huile moteur
                  li
                    a(a href="./traitement-essence-p231.html") P231, pour essence
                  li
                    a(a href="./traitement-cuve-stockage-stock-cleaner.html") Stock Cleaner
                  li
                    a(a href="./ou-acheter-protea-p2.html") Où acheter PROTEA P2
                  li
                    a(a href="./problematiques-carburants.html") Problématiques des carburants
              li.sub-menu
                a(href="#") À propos
                ul
                  li
                    a(href="./qui-sommes-nous.html") Qui sommes nous
                  li
                    a(href="./references.html") Références / Partenaires
                  li
                    a(href="./certifications.html") Nos certifications
                  li
                    a(href="./lettres-recommandation.html") Ils nous font confiance
                  li
                    a(href="./etudes-de-cas.html") Études de cas
              li
                a(href="./faq.html") F.A.Q.
              li
                a(href="./contact.html") Contacts
