section#second
  .container
    .row
      ul.thumbnails
        li.span3.thumbnail
          .block-thumbnail.maxheight.col
            i.icon-3x.icon-cloud-download
              i.circle-border
            h3 Émissions de gaz polluants réduites
            p Les traitements PROTEA P2 permettent jusqu'à
              strong
                a(href="./protea.html" title="") 40% de réduction des émissions de gaz polluants
              d .
        li.span3.thumbnail
          .block-thumbnail.maxheight.col
            i.icon-3x.icon-sort-by-attributes-alt.icon-rotate-270
              i.circle-border
            h3 Consommation de carburant diminuée
            p
              strong
                a(href="./protea.html" title="") Réduit jusqu'à 10% la consommation
              d en améliorant la combustion et en nettoyant les circuits d'injection.
        li.span3.thumbnail
          .block-thumbnail.maxheight.col
            i.icon-3x.icon-bug
              i.circle-border
            h3 Détruit les bactéries, paraffines et
              abbr(title="Esters méthyliques d’acide gras") EMAG
            p PROTEA P2 est la réponse efficace et durable
              strong
                a(href="./protea.html" title="") contre les contamination bactérienne des carburants
              d .
        li.span3.thumbnail
          .block-thumbnail.maxheight.col
            i.icon-3x.icon-tint
              i.circle-border
            h3 Élimine l'eau des réservoirs et cuves
            p
              PROTEA P2
              strong évite la condensation d'eau
              dans les réservoirs et cuves et
              strong
                a(href="./protea.html" title="") élimine l'eau lors de la combustion
              d .
