<!-- Social Icons -->
<div class="socials">
  <ul class="socialmedia-widget">
    <li><a href="https://www.facebook.com/pages/Proteactive-Caraibes/221955184643584" class="facebook" title="Visitez notre page Facebook" target="_blank">Visitez notre page Facebook</a></li>
    <li><a href="https://twitter.com/proteactive" class="twitter" title="Visitez notre compte twitter" target="_blank">Visitez notre compte twitter</a></li>
  <!--     <li><a href="#" class="googleplus" title="Visitez notre page google+" target="_blank">Visitez notre page google+</a></li> -->
  <!--     <li><a href="#" class="pinterest"></a></li> -->
  <!--     <li><a href="#" class="linkedin"></a></li> -->
    <li><a href="http://www.youtube.com/channel/UCf8U-WYHmXd808r7FT37RKg" class="youtube" title="Visitez notre chaine Youtube" target="_blank">Visitez notre chaine Youtube</a></li>
  <!--     <li><a href="#" class="flickr"></a></li> -->
  <!--     <li><a href="#" class="mail"></a></li> -->
  <!--     <li><a href="#" class="vimeo"></a></li> -->
  <!--     <li><a href="#" class="rss"></a></li> -->
  </ul>
