<section id="third">
<div class="container">
<div class="row">
<div class="span3">
  <h3>Dernières études de cas</h3>
  <p>Proteactive Caraïbes livre des analyses détaillées de cas de figure chez ses clients.</p>
  <a href="./etudes-de-cas.html" class="btn-dark2">En découvrir plus…</a>
  <div class="clearfix"></div>
</div>
<div class="span9">
  <div class="carousel-wrap carousel__formats">
    <div id="carousel-blog" class="es-carousel-wrapper">
      <div class="es-carousel">
        <ul class="es-carousel_list">
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/edf-degrad-des-cannes-avant.jpg" alt="Bus société de transport urbain STAP"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>EDF Dégrad des Cannes</h4>
                        20 Juin 2013</div>
                  <span class="link-page2"><a href="etudes-de-cas/degrad-des-cannes-20-05-2013.html" title="Essais société de transport STAP"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/societe-transport-urbain-stap.jpg" alt="Bus société de transport urbain STAP"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Société de transport STAP</h4>
                        07 Novembre 2012</div>
                  <span class="link-page2"><a href="etudes-de-cas/transports-stap-pointe-a-pitre-07-11-2012.html" title="Essais société de transport STAP"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/jeep-bois-debout-capesterre.jpg" alt="Jeep de la société Bois Debout"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Société Bois Debout</h4>
                        24 Janvier 2012</div>
                  <span class="link-page2"><a href="etudes-de-cas/bois-debout-capesterre-24-01-2012.html" title="Essais - Société Bois Debout"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/centrale-edf-marie-galante.jpg" alt="Centrale EDF de Marie Galante"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Centrale EDF Marie Galante</h4>
                        17 Mai 2011</div>
                  <span class="link-page2"><a href="etudes-de-cas/edf-marie-galante-17-05-2011.html" title="Essais centrale EDF Marie Galante"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/societe-espaces-services.jpg" alt="Société Espaces Services"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Espaces Services</h4>
                        22 Juin 2007</div>
                  <span class="link-page2"><a href="etudes-de-cas/espaces-services-22-06-2007.html" title="Essais — Espaces Services"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/edf-guyane-centrale-regina.jpg" alt="Centrale EDF de Guyane"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Centrale EDF Guyane</h4>
                        09 Octobre 2003</div>
                  <span class="link-page2"><a href="etudes-de-cas/edf-guyane-09-10-2003.html" title="Intervention centrale EDF Guyane"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/cde-pompe-apres-traitement.jpg" alt="Usine de production électrique privée"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Centrale Diesel Export</h4>
                        02 Juin 2001</div>
                  <span class="link-page2"><a href="etudes-de-cas/centrale-diesel-export.html" title="Intervention Centrale Diesel Export"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/bateau-commandant-mortenol.jpg" alt="Bateau Commandant Mortenol"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Commandant Mortenol</h4>
                        ---</div>
                  <span class="link-page2"><a href="etudes-de-cas/commandant-mortenol.html" title="Intervention bateau Commandant Mortenol"></a></span></div>
              </div>
            </figure>
          </li>
          <li class="es-carousel_li gallery">
            <figure class="featured-thumbnail">
              <div class="img-border portfolio-overlay">
                <div class="img-opacity"><img src="assets/img/etudes/societe-unifipeche.jpg" alt="Compagnie Maritime Guyanaise"></div>
                <div class="portfolio-overlay-content">
                  <div class="work-meta">
                    <h4>Unifipêche Guyane</h4>
                        ---</div>
                  <span class="link-page2"><a href="etudes-de-cas/unifipeche.html" title="Intervention Unifipêche Guyane"></a></span></div>
              </div>
            </figure>
          </li>
        </ul>
      </div>
      <div class="es-nav"><span class="es-nav-prev"><i class="icon-chevron-left"></i></span><span class="es-nav-next"><i class="icon-chevron-right"></i></span></div>
    </div>
  </div>
</div>
</div>
</div>
</section>
